
.video-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 8px;
    padding: 20px;
}
.video-container{
    width: 430px;
    height: 350px;
    display: inline-block;
}
.video-thumbnail{
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}
.video-time{
    background-color: black;
    font-weight: 500;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
.video-information{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-channel-pic{
    border-radius: 50px;
    width: 80%;
}
.video-channel-pic-container{
    width: 50px;
}
.thumbnails{
    width: 100%;
}
.video-title{
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 10px;;
}
.video-channel,
.video-stats{
    color: grey;
    font-size: small;
}