.header-main{
    display:flex;
    height: 55px;
    justify-content: space-between;
    margin-bottom: 26px;
}

.header-left{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hamburger-menu{
    height: 24px;
    width:70px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    width:100px;
    cursor: pointer;
}

.header-middle{
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 470px;
    margin-left: -200px;
}

.header-search{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(240, 240, 240);
    height: 37px;
    flex: 1;
    min-width: 400px;
    box-shadow: inset 0px 1px 2px rgba(224, 223, 223, 0.15);
    padding-left: 20px; 
    font-size: 16px;
    padding-right: 0px;
}

.header-search-button{
    height: 37px;
    border: 1px solid rgb(219, 218, 218);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    margin-right : 10px;
    margin-left : 1px;
    cursor: pointer;
    border-left: none;
}

.header-search-icon{
    height: 20px;
    padding-top: 4px;
    width: 70px;
}

.header-voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}


.header-voice{
    height: 20px;
}

.header-search::placeholder{
    color: grey;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.header-right{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.header-upload{
    height: 26px;
    cursor: pointer;

}

.header-youtube{
    height: 26px;
    cursor: pointer;
}

.header-notification{
    height: 26px;
    cursor: pointer;
}

.header-profile{
    height: 26px;
    width: 26px;
    border-radius: 15px;
    cursor: pointer;
}