.header-main{
    display:flex;
    height: 55px;
    justify-content: space-between;
    margin-bottom: 26px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid rgb(235, 232, 232);
    box-shadow: 0px 1px 2px rgba(224, 223, 223, 0.15);
    z-index: 100;
}


.header-left{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hamburger-menu{
    height: 25px;
    width:70px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    width:100px;
    cursor: pointer;
}

.header-middle{
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 470px;
    margin-left: -200px;
}

.header-search{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(240, 240, 240);
    height: 37px;
    flex: 1;
    width: 0px;
    box-shadow: inset 0px 1px 2px rgba(224, 223, 223, 0.15);
    padding-left: 20px; 
    font-size: 16px;
    padding-right: 0px;
}

.header-search-button{
    height: 37px;
    border: 1px solid rgb(240, 240, 240);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    margin-right : 10px;
    margin-left : 1px;
    cursor: pointer;
    border-left: none;
}

.header-search-button, .header-voice-button, .upload-container, 
.app-container, .notifications-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-voice-button .header-hover, 
.header-search-button .header-hover,
.upload-container .header-hover,
.app-container .header-hover,
.notifications-container .header-hover{
    background-color: rgba(100, 92, 92);
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -30px;
    font-size: 11px;
    font-family: Roboto, Arial;
    font-weight: 100;
    color: white;
    white-space: nowrap;
    display: none;
}

.header-search-button:hover .header-hover, 
.header-voice-button:hover .header-hover,
.upload-container:hover .header-hover,
.app-container:hover .header-hover,
.notifications-container:hover .header-hover{
    display: block;
    transition: opacity 0.15s;
}

.header-search-icon{
    height: 20px;
    padding-top: 4px;
    width: 70px;
}

.header-voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.header-voice{
    height: 20px;
}

.header-search::placeholder{
    color: grey;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.header-right{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    flex-shrink: 0;
}

.header-upload{
    height: 24px;
    cursor: pointer;

}

.header-youtube{
    height: 24px;
    cursor: pointer;
}

.header-notification{
    height: 24px;
    cursor: pointer;
}

.header-profile{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    cursor: pointer;
}